// /backend/jobs.config
{
  "jobs": [ // Define up to 20 different jobs
    // Choose one of the options below to define the job execution interval:
    {
      // Option 1 - define execution interval using a cron expression
      "functionLocation": "/scheduled_jobs/bookings.jsw", // Relatively to Backend folder, started by slash
      "functionName": "confirm_booking",
      "description": "Process an accepted booking", // Optional
      "executionConfig": {
        "time": "23:05" // "hh:mm" 24h format, UTC timezone (e.g. 13:00) 
        //"cronExpression": "0 */2 * * *" // Set intervals of up to 1 hour 
        // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
      }
    },
    {
      // Option 1 - define execution interval using a cron expression
      "functionLocation": "/scheduled_jobs/bookings.jsw", // Relatively to Backend folder, started by slash
      "functionName": "checkTeamPlayers",
      "description": "lstTeamPlayer Integrity check", // Optional
      "executionConfig": {
        "time": "22:45" // "hh:mm" 24h format, UTC timezone (e.g. 13:00) 
        //"cronExpression": "0 */2 * * *" // Set intervals of up to 1 hour 
        // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
      }
    }
  ]
}
